[Unit]
Description=Hikvision intercome to mqtt
Requires=mosquitto.service

[Service]
ExecStart=/usr/bin/python3 /opt/hikvision/hik.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
