/.vagrant/
/.vscode/
config/*
config/demo/backup/*
!config/demo/
!config/default.yml
/*.retry
*/__pycache__/*
!config/jupiter/
config/jupiter/vault/vault.yml
config/jupiter/vault/wireguard_mobile/
config/jupiter/vault/wireguard_cloud/
config/jupiter/vault/letsencrypt.tgz
