[Unit]
Description=Sports Tracker Sync to Strava/FitTrackee
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/git/toffee/onyx
Environment="PATH=/root/git/toffee/onyx/venv/bin
ExecStart=/root/git/toffee/onyx/venv/bin/python /root/git/toffee/onyx/sport_sync.py
StandardOutput=append:/var/log/sport_sync.log
StandardError=append:/var/log/sport_sync.log

[Install]
WantedBy=multi-user.target